<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Monitoring</title>
	<style type="text/css">
	body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	th {
		text-align: left;
		border-bottom: 2px solid black;
	}
	td.num {
		text-align: right;
	}
	.col {
		width: 45%;
		margin-right: 3%;
		float: left;
	}
	</style>
</head>
<body>
<h1>Monitoring</h1>

<h2>Requests</h2>

<p><strong>Total requests since counting started</strong>: {{ requests.hits }}</p>
<p><strong>Sum of request duration since counting started</strong>: {{ requests.weight }} microseconds (millionths of a second)</p>

<h2>SQL queries</h2>

<p><strong>Total queries since counting started</strong>: {{ sqlops.hits }}</p>
<p><strong>Sum of queries duration since counting started</strong>: {{ sqlops.weight }} microseconds (millionths of a second)</p>

</body>
</html>